p {
color: darkturquoise;
}
body {
   background-image: url("http://eskipaper.com/images/pretty-backgrounds-7.jpg"); 
}
h1 {
color: white;
font-size: 30px;
}
h2{
color: white;
font-style: italic;
}
h3 {
color : white ;
font-style: italic;
}



.nav > div {
  background: darkturquoise;
  color: white;
  font-family: "Verdana", monospace;
  border: 2px blue solid;
  border-radius: 4px;
  text-align: center;
  float: left;
  padding: 10px;
  width: 100px;
}

.nav > div:hover {
   background: cornflowerblue;
