p {
color: darkturquoise;
}
body {
   background-image: url("http://eskipaper.com/images/pretty-backgrounds-7.jpg"); 
}
h1 {
color: white;
font-size: 30px;
}
h2{
color: white;
font-style: italic;
}
h3 {
color : white ;
font-style: italic;
}



