p {
color: darkturquoise;
}
body { 
    background-image: url("http://wallpapercave.com/wp/8bTWrwW.jpg"); 
}
h1 {
color: white;
font-size: 30px;
}
h2{
color: white;
font-style: italic;
}
h3 {
color : white ;
font-style: italic;
}
ul {
   color: white ;
   font-style: italic;
}
.nav > div {
  background: purple;
  float: left; 
  margin: 10px;
  padding: 20px;
  height: 50px;
  border: 5px solid snow;
  border-radius:4px;
  text-align:left;
   margin: 0;
   font-size: 20px; 
   text-align:left;
}
.nav > a:hover { 
background: snow;
}
.nav{
  margin: 0;
text-align:left ;   
font-size: 20px; 
}
.nav > a {
  background: white ;
  float: left; 
  margin: 10px;
  padding: 10px;
  height: 25px;
  border: 5px solid snow;
  border-radius:8px;
  text-align:left;
  text-decoration:none;
  color:white;
