p {
color: darkturquoise;
}
body {
   background-image: url("http://eskipaper.com/images/pretty-backgrounds-7.jpg"); 
}
h1 {
color: white;
font-size: 30px;
}
h2{
color: white;
font-style: italic;
}
h3 {
color : white ;
font-style: italic;
}
.nav > div {
  background: mediumaquamarine;
  float: left; 
  margin: 10px;
  padding: 10px;
  height: 25px;
  border: 5px solid steelblue;
  border-radius:4px;
  text-align:center;
   margin: 0;
   font-size: 20px; 
   text-align:center;
}
.nav > a:hover { 
background: cornflowerblue;
}
.nav{
  margin: 0;
text-align:center ;   
font-size: 20px; 
}
.nav > a {
  background: mediumaquamarine;
  float: left; 
  margin: 10px;
  padding: 10px;
  height: 25px;
  border: 5px solid steelblue;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  color:white;





